<div class="modal-overlay {{#if isDisabled}}hide{{/if}}">
  <div class="modal">
      <div class="modal-add-chat">
          <h1 class="modal-add-chat__title">Добавить чат</h1>
          {{{inputChatName}}}
          {{{buttonAdd}}}
      </div>
  </div>
</div>
