<div class="popup {{#if isDisabled}}hide{{/if}}" 
  id="popup-upload"
>
  <div class="popup__container">
    <ul class="popup__list">
      <li class="popup__list-item">
        <img class="popup__list-item__image" 
          src="{{imagePopup}}" 
          alt="Фото или Видео" 
        />
        <p class="popup__list-item__text">Фото или Видео</p>
      </li>
      <li class="popup__list-item">
        <img class="popup__list-item__image"
          src="{{filePopup}}"
          alt="Файл"
        />
        <p class="popup__list-item__text">Файл</p>
      </li>
      <li class="popup__list-item">
        <img class="popup__list-item__image" 
          src="{{locationPopup}}"
          alt="Локация"
        />
        <p class="popup__list-item__text">Локация</p>
    	</li>
    </ul>
  </div>
</div>
