<section class="profile">
    <div class="profile__container">
        <div class="profile__image-container">
            <img class="profile__avatar" alt="Аватарка"/>
            <button type="button" class="button button__avatar">
                <img class="profile__avatar-edit" alt="Avatar">
            </button>
        </div>
        {{> profile-inputs-change-password/profile-inputs-change-password }}
        <a class="button button__authorize" href="./profile.hbs">Сохранить</a>
    </div>
    {{> profile-button-back/profile-button-back }}
</section>