<div class="popup {{#if isDisabled}}hide{{/if}}" 
    id="popup-chat-options"
>
    <div class="popup__container">
        <ul class="popup__list">
            <li>
                {{{buttonArchive}}}
            </li>
            <li>
                {{{buttonSettings}}}
            </li>
        </ul>
    </div>
</div>
