<section class="profile">
    <div class="profile__container">
        <div class="profile__image-container">
            <img class="profile__avatar" alt="Аватарка"/>
            <a type="button" class="button button__avatar" href="./uploadAvatar.hbs">
                <p class="profile__avatar-edit">
                    Поменять аватар
                </p>
            </a>
        </div>
        <h1 class="profile__name">Иван</h1>
        {{> profile-inputs-no-change/profile-inputs-no-change }}
        {{> profile-buttons-settings/profile-buttons-settings }}
    </div>
    {{> profile-button-back/profile-button-back }}
</section>