<main class="container">
  <section class="error-page error-page_500">
    <h1 class="error-page__title">500</h1>
    <p class="error-page__text">{{errorText}}</p>
    <p class="error-page__text">Не переживайте, мы уже фиксим!</p>
    <a class="error-page__link" href="./messenger">Назад к чатам</a>
  </section>
</main>
