<div class="profile__button-container">
    <div class="profile__button-container__wrapper">
        <a class="button button__change-data" href="./profileChange.hbs">
            Изменить данные
        </a>
    </div>
    <div class="profile__button-container__wrapper">
        <a class="button button__change-password" href="./profileChangePassword.hbs">
            Изменить пароль
        </a>
    </div>
    <div class="profile__button-container__wrapper">
        <a class="button button__exit" href="./authorization.hbs">
            Выйти
        </a>
    </div>
</div>