<div class="modal-overlay">
    <div class="modal">
        <div class="modal-upload-avatar">
            <form class="modal-upload-avatar__form">
                <p class="modal-upload-avatar__title">Файл загружен</p>
                <p class="modal-upload-avatar__fileName">pic.jpg</p>
                <a href="./chat.hbs" class="button button__authorize">Поменять</a>
                <span class="modal__input-error input-file-error"></span>
            </form>
        </div>
    </div>
</div>
