<ul class="chat__messages__date-group">
    <li class="chat__messages__date">
        <p class="chat__messages__date__text">{{date}}</p>
    </li>
    {{#each chatMessages}}
    {{{this}}}
    {{/each}}
</ul>