.modal-zoom-image {
    position: relative;
    width: 100%;
    height: 100%;

    &__image {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 12px;
        display: block;
    }

    &__close-image {
        width: 100%;
        height: 100%;
    }
}