<section class="chat">
    <div class="chat__content">
        <div class="chat__header">
            <div class="chat__header__information">
                <img class="chat__header__information__image" alt="Аватар"/>
                <p class="chat__header__information__name">
                    Вадим
                </p>
            </div>
            <div class="chat__header__button-container">
                <a class="button button__tools" href="./chatWithPopupChatSettings.hbs">
                    <img class="chat__header__tools-image" src="../assets/burger.svg" alt="Настройки">
                </a>
            </div>
        </div>
        <div class="chat__messages">
            <ul class="chat__messages__date-group">
                <li class="chat__messages__date">
                    <p class="chat__messages__date__text">19 июня</p>
                </li>
                <li class="chat__messages__message-text">
                    <div class="chat__messages__message-text__container">
                        <p class="chat__messages__message-text__text">
                            Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
                            lobortis feugiat vivamus at augue eget arcu dictum varius duis at consectetur lorem donec
                            massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit
                            sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl
                            nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel
                            pharetra vel turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim
                            facilisis gravida neque convallis a cras semper auctor neque vitae tempus quam pellentesque
                            nec nam aliquam sem et tortor consequat id
                        </p>
                        <div class="chat__messages__message-text__info">
                            <p class="chat__messages__message-text__time">
                                11:56
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-photo">
                    <div class="chat__messages__message-photo__container">
                        <a href="./chatWithModalZoom.hbs">
                            <img class="chat__messages__message-photo__image"
                                 src="https://i.pinimg.com/564x/10/0a/cd/100acd8fad813681f7cd028408152fdd.jpg"
                                 alt="фото"/>
                        </a>
                        <div class="chat__messages__message-photo__info">
                            <p class="chat__messages__message-photo__time">
                                11:56
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-photo chat__messages__message-photo_owner">
                    <div class="chat__messages__message-photo__container">
                        <a href="./chatWithModalZoom.hbs">
                            <img class="chat__messages__message-photo__image"
                                 src="https://i.pinimg.com/564x/4e/73/3b/4e733b009705024a46a49a656e5fa206.jpg"
                                 alt="фото"/>
                        </a>
                        <div class="chat__messages__message-photo__info">
                            <img class="chat__messages__message-photo__status" src="../assets/clock__owner.svg" alt=""/>
                            <p class="chat__messages__message-photo__time">
                                11:56
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-text chat__messages__message-text_owner">
                    <div class="chat__messages__message-text__container">
                        <p class="chat__messages__message-text__text">
                            Сообщение отправляется
                        </p>
                        <div class="chat__messages__message-text__info">
                            <img class="chat__messages__message-text__status" src="../assets/clock.svg" alt=""/>
                            <p class="chat__messages__message-text__time">
                                11:56
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-photo chat__messages__message-photo_owner">
                    <div class="chat__messages__message-photo__container">
                        <a href="./chatWithModalZoom.hbs">
                            <img class="chat__messages__message-photo__image"
                                 src="https://i.pinimg.com/564x/94/b5/a9/94b5a9033d5c2612d050f2e79847ae7c.jpg"
                                 alt="фото"/>
                        </a>
                        <div class="chat__messages__message-photo__info">
                            <img class="chat__messages__message-photo__status" src="../assets/check__owner.svg" alt=""/>
                            <p class="chat__messages__message-photo__time">
                                11:57
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-text chat__messages__message-text_owner">
                    <div class="chat__messages__message-text__container">
                        <p class="chat__messages__message-text__text">
                            Сообщение отправлено
                        </p>
                        <div class="chat__messages__message-text__info">
                            <img class="chat__messages__message-text__status" src="../assets/check.svg" alt=""/>
                            <p class="chat__messages__message-text__time">
                                11:57
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-photo chat__messages__message-photo_owner">
                    <div class="chat__messages__message-photo__container">
                        <a href="./chatWithModalZoom.hbs">
                            <img class="chat__messages__message-photo__image"
                                 src="https://i.pinimg.com/564x/7d/1d/4d/7d1d4deca6a932daa590e43b0c71ed3e.jpg"
                                 alt="фото"/>
                        </a>
                        <div class="chat__messages__message-photo__info">
                            <img class="chat__messages__message-photo__status" src="../assets/double-check__owner.svg"
                                 alt=""/>
                            <p class="chat__messages__message-photo__time">
                                11:58
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-text chat__messages__message-text_owner">
                    <div class="chat__messages__message-text__container">
                        <p class="chat__messages__message-text__text">
                            Сообщение доставлено
                        </p>
                        <div class="chat__messages__message-text__info">
                            <img class="chat__messages__message-text__status" src="../assets/double-check.svg" alt=""/>
                            <p class="chat__messages__message-text__time">
                                11:58
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-photo chat__messages__message-photo_owner">
                    <div class="chat__messages__message-photo__container">
                        <a href="./chatWithModalZoom.hbs">
                            <img class="chat__messages__message-photo__image"
                                 src="https://i.pinimg.com/564x/0b/e4/28/0be428105a4f9a01cc4ce4924b1fb92e.jpg"
                                 alt="фото"/>
                        </a>
                        <div class="chat__messages__message-photo__info">
                            <img class="chat__messages__message-photo__status" src="../assets/double-check__viewed.svg"
                                 alt=""/>
                            <p class="chat__messages__message-photo__time">
                                11:58
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-text chat__messages__message-text_owner">
                    <div class="chat__messages__message-text__container">
                        <p class="chat__messages__message-text__text">
                            Сообщение просмотрено
                        </p>
                        <div class="chat__messages__message-text__info">
                            <img class="chat__messages__message-text__status" src="../assets/double-check__viewed.svg"
                                 alt=""/>
                            <p class="chat__messages__message-text__time">
                                11:58
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="chat__messages__date-group">
                <li class="chat__messages__date">
                    <p class="chat__messages__date__text">20 июня</p>
                </li>
                <li class="chat__messages__message-text">
                    <div class="chat__messages__message-text__container">
                        <p class="chat__messages__message-text__text">
                            Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
                            lobortis feugiat vivamus at augue eget arcu dictum varius duis at consectetur lorem donec
                            massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit
                            sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl
                            nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel
                            pharetra vel turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim
                            facilisis gravida neque convallis a cras semper auctor neque vitae tempus quam pellentesque
                            nec nam aliquam sem et tortor consequat id
                        </p>
                        <div class="chat__messages__message-text__info">
                            <p class="chat__messages__message-text__time">
                                11:56
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-text">
                    <div class="chat__messages__message-text__container">
                        <p class="chat__messages__message-text__text">
                            Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
                            lobortis feugiat vivamus at augue eget arcu dictum varius duis at consectetur lorem donec
                            massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit
                            sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl
                            nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel
                            pharetra vel turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim
                            facilisis gravida neque convallis a cras semper auctor neque vitae tempus quam pellentesque
                            nec nam aliquam sem et tortor consequat id
                        </p>
                        <div class="chat__messages__message-text__info">
                            <p class="chat__messages__message-text__time">
                                11:56
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-text">
                    <div class="chat__messages__message-text__container">
                        <p class="chat__messages__message-text__text">
                            Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
                            lobortis feugiat vivamus at augue eget arcu dictum varius duis at consectetur lorem donec
                            massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit
                            sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl
                            nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel
                            pharetra vel turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim
                            facilisis gravida neque convallis a cras semper auctor neque vitae tempus quam pellentesque
                            nec nam aliquam sem et tortor consequat id
                        </p>
                        <div class="chat__messages__message-text__info">

                            <p class="chat__messages__message-text__time">
                                11:56
                            </p>
                        </div>
                    </div>
                </li>
                <li class="chat__messages__message-text">
                    <div class="chat__messages__message-text__container">
                        <p class="chat__messages__message-text__text">
                            Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
                            lobortis feugiat vivamus at augue eget arcu dictum varius duis at consectetur lorem donec
                            massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit
                            sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl
                            nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel
                            pharetra vel turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim
                            facilisis gravida neque convallis a cras semper auctor neque vitae tempus quam pellentesque
                            nec nam aliquam sem et tortor consequat id
                        </p>
                        <div class="chat__messages__message-text__info">

                            <p class="chat__messages__message-text__time">
                                11:56
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat__footer">
            <div class="chat__footer__button-container">
                <a class="button button__chat-upload" href="./chatWithPopupUpload.hbs">
                    <img src="../assets/upload.svg" alt=""/>
                </a>
            </div>
            <div class="chat__footer__input" contenteditable="true" type="text" name="message"
                 placeholder="Сообщение"></div>
            <button class="button button__chat-send">
                <img class="chat__footer__send-image" src="../assets/arrow-send.svg" alt=""/>
            </button>
        </div>
    </div>
</section>