:root {
  --white: #fff;
  --ultramarine-blue: #3369f3;
  --black: #1e1e1e;
  --error-red: #ff2f2f;
  --spanish-gray: #999;
  --ocean: #e4edfd;
  --lotion: #fbfbfb;
  --bright-gray: #efefef;
  --red: #f00;
  --platinum: #e5e5e5;
  --gray-line: #eaeaea;
  --philippine-gray: #8d8d8d;
  --cultured-white: #f8f8f8;
  --color-chat-active: #3390ec;
}
