:root {
  --white: #FFFFFF;
  --ultramarine-blue: #3369F3;
  --black: #1E1E1E;
  --error-red: #FF2F2F;
  --spanish-gray: #999999;
  --ocean: #E4EDFD;
  --lotion: #FBFBFB;
  --bright-gray: #EFEFEF;
  --red: #FF0000;
  --platinum: #E5E5E5;
  --gray-line: #EAEAEA;
  --philippine-gray: #8D8D8D;
  --cultured-white: #F8F8F8;
}