<div class="profile__info">
    <form class="profile__info__form">
        <label class="profile__label" for="email">
            Почта
            <input class="profile__input" type="email" name="email" value="pochta@yandex.ru" readonly/>
        </label>
        <label class="profile__label" for="login">
            Логин
            <input class="profile__input" type="text" name="login" value="ivanivanov" readonly/>
        </label>
        <label class="profile__label" for="first_name">
            Имя
            <input class="profile__input" type="text" name="first_name" value="Иван" readonly/>
        </label>
        <label class="profile__label" for="second_name">
            Фамилия
            <input class="profile__input" type="text" name="second_name" value="Иванов" readonly/>
        </label>
        <label class="profile__label" for="display_name">
            Имя в чате
            <input class="profile__input" type="text" name="display_name" value="Иван" readonly/>
        </label>
        <label class="profile__label" for="phone">
            Телефон
            <input class="profile__input" type="text" name="phone" value="+7 (909) 967 30 30" readonly/>
        </label>
    </form>
</div>
