<div class="profile__info">
    <label class="profile__label" for="emailInput">
        Почта
        <input class="profile__input" type="email" name="emailInput" value="pochta@yandex.ru" readonly/>
    </label>
    <label class="profile__label" for="loginInput">
        Логин
        <input class="profile__input" type="text" name="loginInput" value="ivanivanov" readonly/>
    </label>
    <label class="profile__label" for="nameInput">
        Имя
        <input class="profile__input" type="text" name="nameInput" value="Иван" readonly/>
    </label>
    <label class="profile__label" for="surnameInput">
        Фамилия
        <input class="profile__input" type="text" name="surnameInput" value="Иванов" readonly/>
    </label>
    <label class="profile__label" for="nicknameInput">
        Имя в чате
        <input class="profile__input" type="text" name="nicknameInput" value="Иван" readonly/>
    </label>
    <label class="profile__label" for="phoneInput">
        Телефон
        <input class="profile__input" type="text" name="phoneInput" value="+7 (909) 967 30 30" readonly/>
    </label>
</div>