<div class="modal-overlay">
    <div class="modal">
        <div class="login">
            <form class="login__form">
                <h1 class="login__title">Вход</h1>
                <label class="login__label" for="login">
                    Логин
                    <input class="login__input" type="text" name="login" required/>
                    <span class="login__input-error">Неверный логин</span>
                </label>
                <label class="login__label" for="password">
                    Пароль
                    <input class="login__input" type="password" name="password" required/>
                    <span class="login__input-error">Неверный пароль</span>
                </label>
                <a href="./chatNotFound.hbs" class="button button__authorize">Авторизоваться</a>
                <a href="./registration.hbs" class="button button__registration">Нет аккаунта?</a>
            </form>
        </div>
    </div>
</div>
