<div class="modal-overlay">
    <div class="modal">
        <div class="login">
            <h1 class="login__title">Вход</h1>
            <label class="login__label" for="loginInput">
                Логин
                <input class="login__input" type="text" name="loginInput" required/>
                <span class="login__input-error">Неверный логин</span>
            </label>
            <label class="login__label" for="passwordInput">
                Пароль
                <input class="login__input" type="password" name="passwordInput" required/>
                <span class="login__input-error">Неверный пароль</span>
            </label>
            <a href="./chatNotFound.hbs" class="button button__authorize">Авторизоваться</a>
            <a href="./registration.hbs" class="button button__registration">Нет аккаунта?</a>
        </div>
    </div>
</div>