.modal {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    &__input-error {
        font-weight: 500;
        font-size: 11px;
        line-height: 11px;
        color: #FF2F2F;
        padding: 0;
        margin: 14px 0 0 0;
    }
}

