<div class="chat-bar">
    <a class="button button__profile" href="./profile.hbs">Профиль<img src="../assets/arrow.svg" alt="Left arrow"/></a>
    <input class="chat-bar__inputSearch" type="search" name="searchInput" placeholder="Поиск"/>
    <ul class="chat-bar__chat-list">
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        {{> chat-bar-item/chat-bar-item }}
        <li class="chat-bar__chat-list__item">
            <a class="chat-bar__chat-list__wrapper">
                <img class="chat-bar__chat-list__image" alt="AvatarImage"/>
                <div class="chat-bar__chat-list__information">
                    <p class="chat-bar__chat-list__information_name">Андрей</p>
                    <p class="chat-bar__chat-list__information_text">Миллионы россиян ежедневно проводят десятки часов
                        Миллионы россиян ежедневно проводят десятки часов Миллионы россиян ежедневно проводят десятки
                        часов Миллионы россиян ежедневно проводят десятки часов</p></div>
                <p class="chat-bar__chat-list__date">
                    10:49
                </p>
                <div class="chat-bar__chat-list__count">
                    1
                </div>
            </a>
        </li>
    </ul>
</div>