<div class="modal-overlay">
    <div class="modal">
        <div class="modal-upload-avatar">
            <form class="modal-upload-avatar__form">
                <p class="modal-upload-avatar__title modal-upload-avatar__title_error">Ошибка, попробуйте ещё раз</p>
                <input class="modal-upload-avatar__input" type="file" id='avatar'/>
                <label class="modal-upload-avatar__label" for="avatar" class="button">Выбрать файл на
                    компьютере</label>
                <a href="./uploadAvatarSuccess.hbs" class="button button__authorize">Поменять</a>
                <span class="modal__input-error input-file-error"></span>
            </form>
        </div>
    </div>
</div>
