{{!< base}}

<main class="container">
    <div style="display: flex; flex-direction: column; gap: 10px;">
        <a href="./authorization.hbs">Authorization</a>
        <a href="./registration.hbs">Registration</a>
        <a href="./chat.hbs">Chat</a>
        <a href="./chatNotFound.hbs">Chat not found</a>
        <a href="./chatWithModalAdd.hbs">Chat with modal add</a>
        <a href="./chatWithPopupChatSettings.hbs">Chat with popup settings</a>
        <a href="./chatWithPopupUpload.hbs">Chat with popup upload</a>
        <a href="./profile.hbs">Profile</a>
        <a href="./profileChange.hbs">Profile change</a>
        <a href="./profileChangePassword.hbs">Profile change password</a>
        <a href="./uploadAvatar.hbs">Upload avatar</a>
        <a href="./uploadAvatarError.hbs">Upload avatar error</a>
        <a href="./uploadAvatarSuccess.hbs">Upload avatar success</a>
        <a href="404.hbs">404</a>
        <a href="500.hbs">5**</a>
    </div>
</main>