<div class="popup {{#if isDisabled}}hide{{/if}}"
    id="popup-chat-settings"
>
    <div class="popup__container">
        <ul class="popup__list">
            <li>
                {{{buttonAddUser}}}
            </li>
            <li>
                {{{buttonDeleteUser}}}
            </li>
            <li>
                {{{buttonUploadAvatar}}}
            </li>
            <li>
                {{{buttonDeleteChat}}}
            </li>
        </ul>
    </div>
</div>
