<div class="popup" id="popup-chat-settings">
    <div class="popup__container">
        <ul class="popup__list">
            <li>
                <a class="popup__list-item" href="./addUser">
                    <img class="popup__list-item__image" src="{{addPopup}}" alt="" />
                    <p class="popup__list-item__text">Добавить&nbsp;пользователя</p>
                </a>
            </li>
            <li>
                <a class="popup__list-item" href="/chat-empty">
                    <img class="popup__list-item__image" src="{{closePopup}}" alt="" />
                    <p class="popup__list-item__text">Удалить&nbsp;пользователя</p>
                </a>
            </li>
            <li>
                <a class="popup__list-item" href="/chat-empty">
                    <img class="popup__list-item__image" src="{{trashPopup}}" alt="" />
                    <p class="popup__list-item__text">Удалить&nbsp;чат</p>
                </a>
            </li>
        </ul>
    </div>
</div>