<div class="modal-overlay">
    <div class="modal">
        <div class="modal-add-user">
            <h1 class="modal-add-user__title">{{title}}</h1>
            {{{inputLogin}}}
            {{{buttonAdd}}}
        </div>
    </div>
</div>
