<div class="modal-overlay {{#if isDisabled}}hide{{/if}}">
    <div class="modal">
        <div class="modal-add-user">
            <h1 class="modal-add-user__title">Добавить пользователя</h1>
            {{{inputLogin}}}
            {{{buttonAdd}}}
        </div>
    </div>
</div>
