<div class="modal-overlay">
    <div class="modal">
        <div class="modal-add-user">
            <h1 class="modal-add-user__title">Добавить пользователя</h1>
            <label class="modal-add-user__label" for="loginInput">
                Логин
                <input class="login__input" type="text" name="loginInput" required/>
            </label>
            <a href="./chat.hbs" class="button button__authorize">Добавить</a>
        </div>
    </div>
</div>