<main class="container">
  <section class="error-page error-page_404">
    <h1 class="error-page__title">404</h1>
    <p class="error-page__text">Не туда попали</p>
    <a class="error-page__link" href="./messenger">Назад к чатам</a>
  </section>
</main>
