<div class="modal-overlay">
    <div class="modal">
        <div class="modal-zoom-image">
            <a class="button button__close" href="./chat.hbs">
                <img class="modal-zoom-image__close-image" src="../assets/close-image.svg" alt=""/>
            </a>
            <img class="modal-zoom-image__image"
                 src="https://i.pinimg.com/564x/ce/91/a7/ce91a70b5eeda3c32c4ad1f558a7e89e.jpg" alt="Image">
        </div>
    </div>
</div>
