<div class="profile__info profile__info_change">
    <form class="profile__info__form">
        <label class="profile__label" for="oldPassword">
            Старый пароль
            <input class="profile__input" type="password" name="oldPassword" placeholder="•••••••••••" required/>
        </label>
        <label class="profile__label" for="newPassword">
            Новый пароль
            <input class="profile__input" type="password" name="newPassword" placeholder="•••••••••••" required/>
        </label>
        <label class="profile__label" for="newPassword">
            Повторите новый пароль
            <input class="profile__input" type="password" name="newPassword" placeholder="•••••••••••" required/>
        </label>
    </form>
</div>
