<div class="profile__info profile__info_change">
    <label class="profile__label" for="oldPasswordInput">
        Старый пароль
        <input class="profile__input" type="password" name="oldPasswordInput" placeholder="•••••••••••" required/>
    </label>
    <label class="profile__label" for="newPasswordInput">
        Новый пароль
        <input class="profile__input" type="password" name="newPasswordInput" placeholder="•••••••••••" required/>
    </label>
    <label class="profile__label" for="repeatNewPasswordInput">
        Повторите новый пароль
        <input class="profile__input" type="password" name="repeatNewPasswordInput" placeholder="•••••••••••" required/>
    </label>
</div>